.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
.wrap {
    display: flex;
    flex-direction: column;
    box-shadow: 0 12px 50px rgba(0, 26, 67, 0.05);
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 20px;
  }
select {
    margin-bottom: 10px;
}