.container {
    display: flex;
    flex-direction: column;
    border: 2px solid #7d9dff;
    margin-bottom: 10px;
    box-shadow: 0 12px 50px rgba(0, 26, 67, 0.05);
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 20px;
}
.button {
    width: min-content;
    height: 30px;
    border: none;
    background-color: #7d9dff;
    border-radius: 52px;
    cursor: pointer;
    color: #ffffff;
    padding: 0 24px;
    margin-right: 20px;
    margin-top: 10px;
}
